:root {
  /* Main accent */
  --theme-color: #E67E22;
  --link-color: #D35400;
  --link-hover-color: #F4D03F;
}

/* (Dark Mode) */
[data-theme="dark"] {
  --sidebar-bg: linear-gradient(180deg, #3E1F0B 0%, #873600 100%);
  --sidebar-muted: #F4D03F;
  --sidebar-active-color: #FFF;
}

/* (Light Mode) */
[data-theme="light"] {
  --sidebar-bg: linear-gradient(180deg, #873600 0%, #D35400 100%);
}